# Ignore mainnet chain data
erigon/mainnet/*
!erigon/mainnet/.gitkeep
lighthouse/mainnet/*
!lighthouse/mainnet/.gitkeep
jwtsecret
*.tar

# Ignore gnosis files
gnosis/execution/*
gnosis/consensus/*
gnosis/validator/*
!gnosis/execution/.gitkeep
!gnosis/consensus/.gitkeep
!gnosis/validator/.gitkeep

# Ignore goerli
goerli/execution/*
goerli/consensus/*
goerli/validator/*
!goerli/execution/.gitkeep
!goerli/consensus/.gitkeep
!goerli/validator/.gitkeep